{% extends '../../store/store-base.html' %}
{% load static %}

{% block title %}Register{% endblock title %}

{% block main %}

<section id="primary" class="content-full-width">
    <div class="container">
        <!-- **woocommerce - Starts** -->
        <div class="woocommerce">

            <!-- **checkout - Starts** -->
            <form name="checkout" method="post" class="checkout" action=".">
                {% csrf_token %}
                <div class="container">
                    <div class="row">
                        <div class="column dt-sc-one-third fadeInDown"></div>
                        <!-- **col2-set - Starts** -->
                        <div class="column dt-sc-one-third fadeInDown" id="customer_details">
                            <!-- **col-1 - Starts** -->
                            <!-- **woocommerce-billing-fields - Starts** -->
                            <div class="woocommerce-billing-fields">

                                <h3>Create your account</h3>
                                {% if form.errors %}
                                <p>Please correct the following erros:</p>
                                {% for field in form %}
                                {% if field.errors %}
                                <div class="alert alert-primary" role="alert">
                                    {{ field.label }}: {{ field.errors|striptags }}
                                </div>
                                {% endif %}
                                {% endfor %}
                                {% endif %}

                                <p class="form-row form-row-wide validate-required" id="">
                                    <label for="billing_first_name" class="">{{ form.user_name.label }}*</label>
                                    {% comment %} <input type="text" class="input-text " name="billing_first_name"
                                        id="billing_first_name" placeholder="" value="" required="" /> {% endcomment %}
                                    {{ form.user_name }}
                                </p>

                                <p class="form-row form-row-wide validate-required" id="">
                                    <label for="billing_last_name" class="">{{ form.email.label }}*</label>
                                    {% comment %} <input type="text" class="input-text " name="billing_last_name"
                                        id="billing_last_name" placeholder="" value="" required="" /> {% endcomment %}
                                    {{ form.email }}
                                </p>
                                <p class="form-row form-row-wide validate-required" id="">
                                    <label for="billing_last_name" class="">{{ form.password.label }}*</label>
                                    {% comment %} <input type="text" class="input-text " name="billing_last_name"
                                        id="billing_last_name" placeholder="" value="" required="" /> {% endcomment %}
                                    {{ form.password }}
                                </p>
                                <p class="form-row form-row-wide validate-required" id="">
                                    <label for="billing_last_name"
                                        class="">{{ form.password_confirmation.label }}*</label>
                                    {% comment %} <input type="text" class="input-text " name="billing_last_name"
                                        id="billing_last_name" placeholder="" value="" required="" /> {% endcomment %}
                                    <small class="form-text text-muted mb-4 small">At least 8 characters</small>
                                    {{ form.password_confirmation }}
                                </p>

                                <div class="clear"></div>

                                <button class="dt-sc-button small type2" type="submit">Register</button>
                                <p class="text-center">
                                    {% comment %} <a href="{% url 'account:login' %}">Already have an account?</a>
                                    {% endcomment %}
                                </p>


                            </div> <!-- **woocommerce-billing-fields - Ends** -->


                        </div> <!-- **col2-set - Ends** -->
                        <div class="column dt-sc-one-third fadeInDown"></div>

                    </div>
                </div>

                <div class="dt-sc-margin50"></div>

            </form> <!-- **checkout - Ends** -->
        </div> <!-- **woocommerce - Ends** -->
    </div>
</section> <!-- **Primary - Ends** -->

{% endblock main %}