{% extends './base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block slider %}
<div class="slider-container">
                <div class="slider fullwidth-section parallax"
                    style="background: url('images/home-banner.jpg') no-repeat; background-size: cover;">
                </div>
            </div>
{% endblock slider %}

{% block main %}
<section id="primary" class="content-full-width">
                    <!-- **Primary Starts Here** -->

                    <div class="dt-sc-hr-invisible-small"></div>


                    <!-- Clear -->
                    <div class="clear"></div>
                    <!-- /Clear -->

                    <!-- About Us section -->
                    <div class="fullwidth-section">
                        <!-- **Full-width-section Starts Here** -->
                        <div class="container" id="about">

                            <div class="main-title animate" data-animation="pullDown" data-delay="100">
                                <h2 class="aligncenter">Sobre o Kambô</h2>
                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
                            </div>

                            <div class="about-section">

                                <div class="dt-sc-one-half column first">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/jRgNWuy8L6M"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>

                                <div class="dt-sc-one-half column">
                                    <h3 class="animate" data-animation="fadeInLeft" data-delay="200"> Texto de
                                        Apresentação</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                                    <p>Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                        et dolore magna aliqua. Ut enim ad minim veniam, Lorem ipsum dolor quis nostrud
                                        exercitation ullamco</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>

                                </div>
                            </div>
                        </div>
                    </div><!-- **Full-width-section Ends Here** -->
                    <!-- /About Us section -->

                    <!-- Clear -->
                    <div class="clear"></div>
                    <!-- /Clear -->

                    <!-- Portfolio -->
                    <div class="fullwidth-section">
                        <!-- **Full-width-section Starts Here** -->
                        <div class="container">
                            <div class="main-title animate" data-animation="pullDown" data-delay="100">
                                <h2 class="aligncenter">Portfolio </h2>
                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
                            </div>
                        </div>
                        <div class="dt-sc-sorting-container">
                            <a data-filter="*" href="#" title="09"
                                class="dt-sc-tooltip-top active-sort type1 dt-sc-button animate" data-animation="fadeIn"
                                data-delay="100">Todos</a>
                            <a data-filter=".nature" href="#" title="06"
                                class="dt-sc-tooltip-top type1 dt-sc-button animate" data-animation="fadeIn"
                                data-delay="200">Tema 1</a>
                            <a data-filter=".people" href="#" title="06"
                                class="dt-sc-tooltip-top type1 dt-sc-button animate" data-animation="fadeIn"
                                data-delay="300">Tema 2</a>
                            <a data-filter=".street" href="#" title="05"
                                class="dt-sc-tooltip-top type1 dt-sc-button animate" data-animation="fadeIn"
                                data-delay="400">Tema 3</a>
                            <a data-filter=".still-life" href="#" title="08"
                                class="dt-sc-tooltip-top type1 dt-sc-button animate" data-animation="fadeIn"
                                data-delay="500">Tema 4</a>
                        </div>
                        <div class="portfolio-fullwidth">
                            <div class="portfolio-grid">
                                <div class="dt-sc-portfolio-container isotope">
                                    <!-- **dt-sc-portfolio-container Starts Here** -->
                                    <div class="portfolio nature still-life dt-sc-one-fourth">
                                        <figure>
                                            <img src="images/img-1.jpg" alt="" title="">
                                            <figcaption>
                                                <div class="portfolio-detail">
                                                    <div class="views">
                                                        <a class="fa fa-camera-retro" data-gal="prettyPhoto[gallery]"
                                                            href="images/img-1.jpg"></a><span>3</span>
                                                    </div>
                                                    <div class="portfolio-title">
                                                        <h5><a href="gallery-detail.html">Arte 1</a></h5>
                                                        <p>Lorem ipsum dolor sit amet.</p>
                                                    </div>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="portfolio nature people street dt-sc-one-fourth">
                                        <figure>
                                            <img src="images/img-4.jpg" alt="" title="">
                                            <figcaption>
                                                <div class="portfolio-detail">
                                                    <div class="views">
                                                        <a class="fa fa-camera-retro" data-gal="prettyPhoto[gallery]"
                                                            href="images/img-4.jpg"></a><span>7</span>
                                                    </div>
                                                    <div class="portfolio-title">
                                                        <h5><a href="gallery-detail-with-lhs.html">Arte 2</a></h5>
                                                        <p>Lorem ipsum dolor sit amet.</p>
                                                    </div>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="portfolio street landscapes still-life dt-sc-one-fourth">
                                        <figure>
                                            <img src="images/img-5.jpg" alt="" title="">
                                            <figcaption>
                                                <div class="portfolio-detail">
                                                    <div class="views">
                                                        <a class="fa fa-camera-retro" data-gal="prettyPhoto[gallery]"
                                                            href="images/img-5.jpg"></a><span>9</span>
                                                    </div>
                                                    <div class="portfolio-title">
                                                        <h5><a href="gallery-detail-with-rhs.html">Arte 3</a>
                                                        </h5>
                                                        <p>Lorem ipsum dolor sit amet.</p>
                                                    </div>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="portfolio nature still-life dt-sc-one-fourth">
                                        <figure>
                                            <img src="images/img-7.jpg" alt="" title="">
                                            <figcaption>
                                                <div class="portfolio-detail">
                                                    <div class="views">
                                                        <a class="fa fa-camera-retro" data-gal="prettyPhoto[gallery]"
                                                            href="images/img-7.jpg"></a><span>5</span>
                                                    </div>
                                                    <div class="portfolio-title">
                                                        <h5><a href="gallery-detail.html">Arte 4</a></h5>
                                                        <p>Lorem ipsum dolor sit amet.</p>
                                                    </div>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="portfolio people still-life dt-sc-one-fourth">
                                        <figure>
                                            <img src="images/img-9.JPG" alt="" title="">
                                            <figcaption>
                                                <div class="portfolio-detail">
                                                    <div class="views">
                                                        <a class="fa fa-camera-retro" data-gal="prettyPhoto[gallery]"
                                                            href="images/img-9.JPG"></a><span>6</span>
                                                    </div>
                                                    <div class="portfolio-title">
                                                        <h5><a href="gallery-detail-with-lhs.html">Arte 5</a></h5>
                                                        <p>Lorem ipsum dolor sit amet.</p>
                                                    </div>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="portfolio people still-life dt-sc-one-fourth">
                                        <figure>
                                            <img src="images/img-12.jpg" alt="" title="">
                                            <figcaption>
                                                <div class="portfolio-detail">
                                                    <div class="views">
                                                        <a class="fa fa-camera-retro" data-gal="prettyPhoto[gallery]"
                                                            href="images/img-12.jpg"></a><span>1</span>
                                                    </div>
                                                    <div class="portfolio-title">
                                                        <h5><a href="gallery-detail-with-rhs.html">Arte 6</a></h5>
                                                        <p>Lorem ipsum dolor sit amet.</p>
                                                    </div>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="portfolio people nature still-life street dt-sc-one-fourth">
                                        <figure>
                                            <img src="images/img-13.JPG" alt="" title="">
                                            <figcaption>
                                                <div class="portfolio-detail">
                                                    <div class="views">
                                                        <a class="fa fa-camera-retro" data-gal="prettyPhoto[gallery]"
                                                            href="images/img-13.JPG"></a><span>5</span>
                                                    </div>
                                                    <div class="portfolio-title">
                                                        <h5><a href="gallery-detail.html">Arte 7</a></h5>
                                                        <p>Lorem ipsum dolor sit amet.</p>
                                                    </div>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="portfolio nature people street still-life dt-sc-one-fourth">
                                        <figure>
                                            <img src="images/img-14.jpg" alt="" title="">
                                            <figcaption>
                                                <div class="portfolio-detail">
                                                    <div class="views">
                                                        <a class="fa fa-camera-retro" data-gal="prettyPhoto[gallery]"
                                                            href="images/img-14.jpg"></a><span>12</span>
                                                    </div>
                                                    <div class="portfolio-title">
                                                        <h5><a href="gallery-detail-with-lhs.html">Arte 9</a></h5>
                                                        <p>Lorem ipsum dolor sit amet.</p>
                                                    </div>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="portfolio street nature people still-life dt-sc-one-fourth">
                                        <figure>
                                            <img src="images/img-15.jpg" alt="" title="">
                                            <figcaption>
                                                <div class="portfolio-detail">
                                                    <div class="views">
                                                        <a class="fa fa-camera-retro" data-gal="prettyPhoto[gallery]"
                                                            href="images/img-15.jpg"></a><span>15</span>
                                                    </div>
                                                    <div class="portfolio-title">
                                                        <h5><a href="gallery-detail-with-rhs.html">Arte 10</a></h5>
                                                        <p>Lorem ipsum dolor sit amet.</p>
                                                    </div>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div><!-- **dt-sc-portfolio-container Ends Here** -->
                            </div>
                        </div>
                    </div><!-- **Full-width-section Ends Here** -->
                    <!-- /Portfolio -->

                    <div class="dt-sc-hr-invisible-small"></div>
                    <div class="clear"></div>

                    <div class="dt-sc-hr-invisible-small"></div>

                </section><!-- **Primary Ends Here** -->
{% endblock main %}
